<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <a  id="verTecnicoButton" class="button button-positive button-block" type="submit">Ver o técnico</a>
    <!-- <button id="home-button2" class="button button-positive button-block">OS - Rua Maria</button>
    <button id="home-button3" class="button button-positive button-block">OS - Rua Jose</button> -->
  </ion-content>
</ion-view>
