<ion-view title="OS" id="page2" ng-controller="oSCtrl">
  <ion-content padding="true" class="has-header" ng-init="getLocation()"> 
    <div id="oS-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Detalhamento: Cliente reclama de quedas de conexão na internet banda larga. Testes e reset do modem já realizado.</p>
    </div>
    <div id="oS-markdown5" class="show-list-numbers-and-dots">
      <p  id="endereco" style="color:#000000;">Rua João Pereira da Silva, 141 - Santa Mônica, Uberlândia - MG</p>
    </div>
    <button id="connect" class="button button-positive button-block" type="submit">Ir</button>
    <!-- <button id="send" class="button button-positive button-block" type="submit">Send Location</button> -->
  </ion-content>
</ion-view>