<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button id="home-button3" class="button button-positive button-block">Button</button>
</ion-content>
